
@import '../../styles.scss';
.connexion{
  padding:2%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;

  .img-connexion{

    width: 50%;
    img{
      width: 100%;
      height: auto;
    }
  }
  .section-connexion{
    width: 45%;

    padding-top: 2%;
      h1{
        margin-left: 25%;
        position: relative;
        width: 50%;
        text-align: center;
        @extend  %h1;

      }
    .form-full-width{
      width: 50%;
      margin-top:5%;
      margin-left: 25%;
    }
    .btn-form{
      width: 50%;
      margin-left: 25%;
      margin-top: 5%;
    }
    .form-connexion{
      padding-bottom: 5%;
      margin-top: 5%;
      .center{
        display: inline-block;
        width: 50%;
        text-align: center;
        margin-left: 25%;
        margin-top:5%;

      }

      background:$mauveFoncé;
      border:2px solid $mauveFoncé;
      border-radius:20px ;

    }

  }
  .profil-user-inscription{
    display: none;
  }
  .profil-user{
    display: none;
  }
  .profil-choice{
    display: none;
  }
  .profil-candidat{
    display: none;
  }
  .profil-candidat-fin{
    display: none;
  }
  .profil-recruiter{
    display:none;
  }
  .profil-recruiter-end{
    display: none;
  }
}
