
<header>
  <div class="div-menu">
    <a href="#" class="logo"><img src="../../assets/images/logo.jpg" alt=""></a>
    <i class="menu-toggle-btn fas fa-bars" (click)="displayMenu()"></i>
    <nav class="navigation-menu" [ngClass]="menuEvent">
      <a href="#"><i class="fas fa-home home"></i>Acceuil</a>
      <a href="#"><i class="fab fa-buffer works "></i>Offres</a>
      <a href="#" routerLink="/connexion" routerLinkActive="active"><i class=" fas fa-user user "></i>Connexion</a>
      <a href="#"><i class="fa-solid fa-paper-plane offer"></i>Poster une offre</a>
    </nav>


    <!--<ul class="menu">
      <li class="menu-item active">
        <a href="#">Acceuil</a>
      </li>
      <li class="menu-item">
        <a href="#">Offres</a>
      </li>
      <li class="menu-item">
        <a href="#" routerLink="/connexion" routerLinkActive="active">Connexion</a>
      </li>
      <li class="menu-item">
        <a href="#">Poster une offre</a>
      </li>
    </ul>-->
  </div>
</header>


<script type="text/javascript">
   alert("OK?");
  $(".menu-toggle-btn").click(function(){

    $(this).toggleClass('fa-times');
    $(".navigation-menu").toggleClass('active');
  });
</script>

