

<div class="connexion">
  <div class="img-connexion">
    <img src="../../assets/images/img_Connexion.png" alt="Image montrant deux recruteurs cherchant des talents">
  </div>
  <div class="section-connexion">
    <h1>Connexion</h1>
    <div class="form-connexion">
      <form (ngSubmit) ="seConnecter()" #userForm ="ngForm" class="form">
        <mat-form-field class="form-full-width">
          <mat-label>Votre adresse e-mail </mat-label>
          <input matInput type="text" [formControl] ='emailFormControl' [errorStateMatcher]="matcher" [(ngModel)] = "userConnect.mail" name="mail" >
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf ="emailFormControl.hasError('email') && !emailFormControl.hasError('required')"> Veuillez saisir une adresse e-mail valide </mat-error>
          <mat-error *ngIf ="emailFormControl.hasError('required') ">L'adress e-mail est requise</mat-error>
        </mat-form-field>
        <mat-form-field class="form-full-width">
          <mat-label>Votre mot de passe</mat-label>
          <input matInput type="password"  [formControl]= "passwordFormControl" [errorStateMatcher]="matcher" [(ngModel)] = "userConnect.mdp">
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error *ngIf ="passwordFormControl.hasError('required') ">Le mot de passe est requis </mat-error>
        </mat-form-field>
        <button mat-raised-button color ="primary" class="btn-form" [disabled]="emailFormControl.invalid || passwordFormControl.invalid ">Se connecter</button>
        <mat-label class="center">OU</mat-label>
      </form>
      <button mat-raised-button  class="btn-form" routerLink="/inscription" routerLinkActive="active">S'inscrire</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
