$mauve: rgba(220, 173, 215, 0.67);
$mauveFoncé : rgba(248, 196, 113, 0.2);
$blue :#6040F7;
$blueFonce :#2f3640;
%font{
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
}
body{
  margin:0;
  padding: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: bold;
}

%h1{
  @extend %font;
  font-size: 48px;
  line-height: 58px;
}
%p{
 @extend %font;
 font-size: 24px;
 line-height: 29px;
}

%button-infos{
  border: 2px solid $blue;
  background-color: $blue;
  border-radius: 40px;
  color:white

}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
